BorderPane {

    -fx-border-color: black;
    -fx-background-image: url("../sample/blue.jpg");
}

Label ,CheckBox, Button, ComboBox {

    -fx-text-fill: black;
    -fx-font-size: 12;
    -fx-font-family: "Comic Sans MS";
}

#processByAutoEngine {

    -fx-pref-width: 250;
    -fx-pref-height: 250;
    -fx-padding: 40px;
    -fx-text-alignment: center;
    -fx-background-radius: 50%;
    -fx-wrap-text: true;
    -fx-font-size: 16;
    -fx-text-fill: #07348b;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 1 , 1 , 1);
}

#submitAddNewDiagnostic{

    -fx-background-radius: 10;
    -fx-wrap-text: true;
    -fx-padding: 20px;
    -fx-text-fill: #038b3f;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

#submitAddNewChild{

    -fx-background-radius: 10;
    -fx-wrap-text: true;
    -fx-padding: 20px;
    -fx-text-fill: #038b3f;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

#submitAddNewEmployee{

    -fx-background-radius: 50%;
    -fx-wrap-text: true;
    -fx-padding: 20px;
    -fx-text-fill: #038b3f;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}







/*Button {*/

    /*-fx-background-color:*/
            /*#000000,*/
            /*linear-gradient(#7ebcea, #60a1ff),*/
            /*linear-gradient(#6da9ff, #60a1ff),*/
            /*linear-gradient(#6da9ff, #60a1ff);*/
    /*-fx-background-insets: 0,1,2,3;*/
    /*-fx-background-radius: 3,2,2,2;*/
    /*-fx-padding: 12 30 12 30;*/
    /*-fx-text-fill: white;*/
    /*-fx-font-size: 12px;*/
/*}*/



/*Button Text {*/
    /*-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);*/
/*}*/