BorderPane {
    -fx-border-color: black;
    -fx-background-image: url("../sample/blue.jpg");


}

Label ,CheckBox, Button{
    -fx-text-fill:#07348b;
    -fx-font-size: 12;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
}

