BorderPane {
    -fx-border-color: black;
    -fx-background-image: url("../sample/blue.jpg");
}
Label ,CheckBox{
     -fx-text-fill: white;
     -fx-font-size: 20;
     -fx-font-family: "Comic Sans MS";
     -fx-font-weight: bold;
}

Button {

    /*-fx-padding: 12 30 12 30;*/
    -fx-text-fill: #07348b;
    -fx-font-size: 14px;
    -fx-background-radius: 10;
    -fx-padding: 20px;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( one-pass-box , rgba(7, 52, 139, 0.9), 1, 1 , 1 , 1);


}
