#gridi {

    -fx-font-family: "sans-serif";

    -fx-text-fill: black;
    -fx-opacity: 1;
    -fx-alignment: center;
    -fx-font-size: 13;
    -fx-background-color: gainsboro;

    -fx-background-radius: 5;

}

BorderPane {

    -fx-border-color: black;
    -fx-background-image: url("../sample/blue.jpg");
}

#submitAddNewDiagnostic {

    -fx-pref-width: 250;
    -fx-pref-height: 250;
    -fx-padding: 40px;
    -fx-text-alignment: center;
    -fx-background-radius: 50%;
    -fx-wrap-text: true;
    -fx-font-size: 16;
    -fx-text-fill: #07348b;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 1, 1, 1);
}

#ShowButton{
    -fx-pref-width: 250;
    -fx-pref-height: 250;
    -fx-padding: 40px;
    -fx-text-alignment: center;
    -fx-background-radius: 50%;
    -fx-wrap-text: true;
    -fx-font-size: 16;
    -fx-text-fill: #07348b;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 1, 1, 1);




}


